
body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #aaa;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1 {
    font-size: 24px;
    margin: 0;
    padding-right: 80vw;
}
.search-bar {
    padding: 5px;
    width: 200px;
    margin-right: 20px;
}
.shopping-cart {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    max-height: 35px;
}
.product-list{
    display: flex;
    flex-flow: column;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    background: #4fe3e3;
}
.nav a {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #4fe3e3;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.nav a:hover {
    background-color: #00b7ff;
    border-radius: 10px;
}
.cart-content {
    background: white; 
    padding: 15px; 
    border: 1px solid #ccc; 
    position: fixed; 
    top: 50px; 
    right: 20px; 
    width: 300px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.menu {
    text-align: center;
    padding: 5vw;
}
.product {
    background: #fff;
    padding: 10px;
    text-align: center;
    width: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price{
    display: flex;
    margin-left: 2vw;
    flex-direction: row;   
    justify-content: space-between;
}

.price2{
    margin-right: 3vw;
    font-size: 20px;
}
.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cart-button {
    background-color: green;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

    border-radius: 15px;
}
.cart-button:hover{
    background-color: darkgreen;
}
.footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.homepic{
    width: 60%;
}